---
---
<!-- <div class="width-full top-5 left-12 flex md:ml-20  md:static md:w-auto"> -->
  <div class="w-auto lg:width-full top-5 left-12 block lg:flex lg:ml-20 lg:static">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/catalog/">Catalog</a>
    <a class="nav-link" href="/events/">Events</a>
    <a class="nav-link" href="/faq/">FAQ</a>
    <a class="nav-link" href="/custom/">Custom Orders</a>
    <a class="nav-link" href="/about/">About</a>
</div>